.nav {
    text-align: center;
    border: 15px;
}

.project {
	text-align: center;	
	
}

.main-text {
    background:  blue;
    text-align: center;

}

.head {
    text-align: center;
    font-family:'Lucida Grande';
    font-size: 30px;

    border: 5px solid maroon;
    border-radius: 15px;
    box-shadow: 0 0 5px #555555

}

strong {color: red; }

.action {background: blue; }
.action strong {color: yellow;}

